/* app css stylesheet */

.letters {
    text-align: center;
}

.letters .letter-btn {
    margin: 10px;
    min-width: 38px;
    text-align: center;
}

.word {
    display: inline-block;
}

.word-letter {
    border: 1px solid #ccc;
    margin: 10px;
    min-width: 38px;
    max-width: 38px;
    min-height: 34px;
    text-align: center;
}

.game-action {
    margin-top: 2%;
}

.loose-header,
.win-header {
    padding: 1%;
}

.top-players,
.top-games {
    padding: 1%;
}
