<div ng-show="{{$ctrl.isAuthenticated()}}">
    <h1>Hi {{$ctrl.player.username}}</h1>

    <h3>Your highest Score <span class="label label-success">{{$ctrl.player.highest_score}}</span></h3>

    <div class="top-games">
        <p class="bg-primary top-games">
            Your top {{$ctrl.topGames.length}} game(s) score(s).
        </p>
        <ul class="list-group" ng-repeat="game in $ctrl.topGames">
            <li class="list-group-item">
                <span class="badge">{{game.score}}</span>
                {{game.createdAt | date: 'medium'}}
            </li>
        </ul>
    </div>

    <div class="top-players">
        <p class="bg-primary top-players">
            Top {{$ctrl.topPlayers.length}} players.
        </p>
        <ul class="list-group" ng-repeat="player in $ctrl.topPlayers">
            <li class="list-group-item">
                <span class="badge">{{player.highestScore}}</span>
                {{player.username}}
            </li>
        </ul>
    </div>
</div>
<div ng-show="{{!$ctrl.isAuthenticated()}}">
    <div class="jumbotron">
        <h1>Hello, Gamer!</h1>
        <p> To start playing, click below to register</p>
        <p><a class="btn btn-primary btn-lg" ng-link="[$ctrl.getRegisterLink()]" role="button">Register</a></p>
    </div>
</div>
