<div class="alert alert-danger" ng-show="$ctrl.exceptionError">
    {{$ctrl.exceptionError}}
    <a href="" ng-click="$ctrl.goToHomepage()">Go to homepage</a>
</div>

<div class="win-header bg-success" ng-show="$ctrl.isGameWin()">
    <h2>You Won ! <span class="label label-success">{{$ctrl.game.score}}</span></h2>
    <a href="" ng-click="$ctrl.goToHomepage()">Go to homepage</a>
</div>

<div class="loose-header bg-warning" ng-show="$ctrl.isGameLoose()">
    <h2>You Lost !</h2>
    <a href="" ng-click="$ctrl.goToHomepage()">Go to homepage</a>
</div>

<fieldset ng-disabled="$ctrl.gameDisable">
    <div ng-show="$ctrl.showGame()">
        <div class="row">
            <div class="col-md-12 letters">
                <div class="letters btn-group" role="group" ng-repeat="letter in $ctrl.letters">
                    <button type="button" class="letter-btn btn" ng-class="{'btn-primary': !$ctrl.isLetterWrong(letter), 'btn-danger': $ctrl.isLetterWrong(letter)}" ng-click="$ctrl.playTurn(letter)" ng-disabled="$ctrl.isLetterChosen(letter)||$ctrl.gamesDisable">
                        {{letter}}
                    </button>
                </div>
            </div>
        </div>

        <div class="row game-action">
            <div class="col-md-8">
                <div class="word" ng-repeat="char in $ctrl.chars track by $index">
                    <div class="word-letter" >{{char}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Remaining attempts: {{$ctrl.getRemainingFailedAttempts()}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img ng-src="{{$ctrl.getStickFigureImage()}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
